@import url("pretendard-jp/dist/web/static/pretendard-jp.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Pretendard JP", system-ui, -apple-system, sans-serif;
  width: 100vw;
  height: 100vh;
}

main {
  width: 100%;
  height: 100%;
}
